.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
archive/
BrainTumorAI/dataset/
*.pth
*.pdf
temp_viz.jpg
.env
models_list.txt
list_models.py
list_models_new.py
BrainTumorAI/temp_upload.jpg
BrainTumorAI/temp_analytics.jpg
